.barBtn {
  float: left;
  margin: 20px;
  cursor: pointer;
}

.login-button {
  float: right;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}
.menuSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.side-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-menu-item {
  cursor: pointer;
}

.search-section {
  position: absolute;
  right: 20px;
  border-bottom: 3px solid rgba(45, 45, 44, 0.067);
}

.search-input {
  margin-left: 10px;
  border: none;
}

.item-card {
  margin-top: 10px;
  overflow: hidden;

  img:hover {
    transform: scale(110%);
    transition: 100ms;
  }
}

.item-card-img {
  width: 200px;
  height: 300px;
  overflow: hidden;
  img {
    width: 200px;
    height: 300px;
  }
}

.side-menu {
  display: none;
}
.side-menu-btn {
  display: none;
}

@media (max-width: 600px) {
  .side-menu-btn {
    display: block;
  }
  .side-menu {
    display: block;
    position: absolute;
    left: 0;
    width: 270px;
    height: 100%;
    background-color: rgb(166, 166, 166);
  }

  .closeBtn {
    cursor: pointer;
    float: right;
    margin: 10px;
  }

  .menu-list {
    display: none;
  }

  .search-section {
    display: none;
  }

  .menu-container {
    margin: auto;
    margin-top: 30px;
    width: 200px;
    height: 500px;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .search-section {
    display: none;
  }
}

.loginForm {
  padding: 40px;
  box-sizing: border-box;
  width: 400px;
  height: 500px;
  margin: auto;
}

.item-detail {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.item-info {
  width: 400px;
  height: 500px;
}

.add-btn {
  margin-top: 40px;
}
