.login-button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  margin: 20px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menuSection {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.search-section {
  position: absolute;
  right: 20px;
  border-bottom: 3px solid rgba(45, 45, 44, 0.067);
}

.search-input {
  margin-left: 10px;
  border: none;
}

.item-card {
  width: 100vw;
  margin-top: 10px;
  overflow: hidden;
}

.item-card img:hover {
  transform: scale(110%);
}

.item-card-img {
  width: 200px;
  height: 300px;
  overflow: hidden;
}
